<div class="items">
    <div class="item">Nome
        <input type="text" name="name" value="{{chef.name}}">
    </div>
    <div class="item">Avatar
        <input type="text" name="avatar_url" value="{{chef.avatar_url}}">
    </div>
</div>