{% extends "layout.njk" %}

{% block title %}
<title>Receitas - Foodfy</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="/styles/publicPage/search.css">
{% endblock styles %}

{% block filter %}
<div class="search">
    <form action="/search" method="get">
        <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
</div>
{% endblock filter %}

{% block main %}
<div class="search">
    <h1>Buscado por "{{filter}}"</h1>
</div>

<div class="receitas">
    <div class="cards">
        {% for recipe in recipes %}
        <div class="card" id="{{recipe.id}}">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            <p>{{recipe.title}}</p>
            <span>{{recipe.chefs_name}}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="/scripts/recipeRoute.js"></script>
{% endblock scripts %}