{% extends "layout.njk" %}
{% block styles %}
<link rel="stylesheet" href="/styles/publicPage/not-found.css">
{% endblock styles %}

{% block main %}

    <div class="not-found">
        <h1>O endereço ao qual você colocou não existe!</h1>
        <h2>Selecione uma de nossas opções no menu a cima.</h2>
    </div>

{% endblock main %}